<footer class="footer">
    <hr>
    <div class="row mt-3">
        <div class="col text-center">
            <p class="text-muted">© This WebApp uses the TMDB API
                <a href="https://www.themoviedb.org/">
                    <img id="imageFooter"
                         src="/images/tmdb_logo.png"/>
                </a>
            </p>
        </div>
    </div>
</footer>