<!DOCTYPE html>
<html>
<head>
    <title>COIMA</title>

    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>
    <link rel="icon" type="image/png" href="/favicon.ico">
    <script type='text/javascript' src='/javascripts/lists.js'></script>
    <script type='text/javascript' src='/javascripts/movies.js'></script>
    <script type='text/javascript' src='/javascripts/comments.js'></script>


</head>
<body>
{{{body}}}
</body>
</html>
